@{
    ViewData["Title"] = "Página Inicial";
}

<style>
    .custom-margin {
        margin-top: 100px; 
    }
</style>

<div class="text-center custom-margin">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Sistema de Controle de Contatos</p>
    <p>Seja bem-vindo ao Controle de Contatos, sua solução eficiente para gerenciar informações de contatos 
        de forma fácil e organizada.</p>
    <p>Nosso sistema oferece recursos poderosos para adicionar, editar e visualizar detalhes de seus 
        contatos, proporcionando uma experiência intuitiva e amigável.</p>
    <p>Utilize as funcionalidades do menu de navegação para explorar as diversas opções disponíveis. 
        Você pode adicionar novos contatos, editar informações existentes e muito mais.</p>
    <p>Estamos aqui para simplificar a gestão de contatos, proporcionando uma plataforma robusta e 
        acessível.</p>
    <p>Sinta-se à vontade para explorar e aproveitar todas as facilidades que o Controle de Contatos 
        tem a oferecer.</p>
</div>

